@import "tailwindcss";

:root {
  --color-primary: #212d40; /* prussian blue */
  --color-secondary: #364156; /* charcoal */
  --color-accent: #d66853; /* jasper */
  --color-accent2: #7d4e57; /* rose taupe */
  --color-bg: #11151c; /* rich black */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (min-width: 640px) {
  .sm\:text-stroke {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
    text-stroke: 1px rgba(255, 255, 255, 0.6);
  }
}

body {
  background: var(--color-bg);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}
.bg-secondary {
  background-color: var(--color-secondary) !important;
}
.bg-accent {
  background-color: var(--color-accent) !important;
}
.bg-accent2 {
  background-color: var(--color-accent2) !important;
}
.bg-bg {
  background-color: var(--color-bg) !important;
}
.text-primary {
  color: var(--color-primary) !important;
}
.text-secondary {
  color: var(--color-secondary) !important;
}
.text-accent {
  color: var(--color-accent) !important;
}
.text-accent2 {
  color: var(--color-accent2) !important;
}

/* globals.css */
@keyframes gradient-vertical-move {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

.animated-gradient {
  background-size: 100% 300%;
  background-position: top;
  animation: gradient-vertical-move 5s ease-in-out infinite;
}

.text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
}

.text-outline-shadow {
  text-shadow: 0 0 1px #fff;
}

.text-hero-shadow {
  filter: drop-shadow(0 10px 12px #000a) drop-shadow(0 4px 4px #0005);
}
